body {
    background-color: rgb(203,174,238);
    background: radial-gradient(circle, rgba(203,174,238,1) 0%, rgba(179,148,233,1) 100%);
    margin: 0;
    padding: 0;
}
header {
    background-color: #67119c;
    color: #f3e5fe;
    padding: 20px;
}
main {
    padding: 0;
}
button:hover {
    background-color: #49036a;
}
button:active {
    font-size: 1.2em;
    color: #ba68d7;
}
input {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    width: 200px;
    max-width: 100%;
}
input {
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}
input:focus {
    border: 2px solid #7c06c6;
    color: #720e9e;
}
input::placeholder {
    color: #070607;
}
a:hover {
    color: #C71585;
    text-decoration: underline;
}
a:active {
    font-weight: bold;
}
